* {
    box-sizing: border-box;
  }
  
  
  .about-me-header{
    color:  #90b8ac;
  }
  
  body {
    overflow-x: hidden !important;
    max-width: 100% !important;
    margin: 0;
    padding: 0;
  }
  .topnav {
    background-color: #90b8ac;
    overflow: hidden;
   position: relative;
   margin-right: 105px;
   width:100%;

  }
  .menu-links{
    margin-left: 200px;
  }
  #title{
    height: 500px;
     background-color: #90b8ac;
  }
  #title-img{
    width: 250px;
    height: 300px;
    border-radius: 20px;
  }
  
  #signin-button{
      background-color: #90b8ac;
      padding: 2px;
      border-radius: 7px;
      color: white;
      float: right;
      margin-right: 200px;
      
  }

  .row{
    border-color: #90b8ac ;
    border-width: 4px;
    border-radius: 20px;
    text-shadow: 2px 2px 5px gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
  }
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #2e9244;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  @media screen and (max-width: 414px) {
    .row{
       flex-direction: column;
    }
    #about-me{
      margin-top: 10px;
    }
    .cert-row{
      width: 100%;
      align-items: center;
    }
    .colu{
      box-sizing: content-box;
      flex-direction: column;
      box-sizing:unset;
    }
    div#myTitle{
      width:100%;
    }
    body {
      overflow-x: hidden !important;
      max-width: 100% !important;
      margin: 0;
  }
  #signin-button{
    display: none;
  }
  .column h1{
    font-size: 10px;
  }
  .column h3 p{
    font-size: 16px;
  }
  .column ul li{
    font-size: 20px;
    text-align: center;
  }
 
 }
  @media screen and (max-width: 768px) {
    .topnav a {display: none;}
    .topnav a.icon {
      float: left;
      display: table-column;
    }
    .menu-links{
      margin-left: 0px;
      padding-left: 15px;
    }
    .topnav{
      width: 100%;
      /* padding-left: 10px; */
    }
    body {
      overflow-x: hidden !important;
      max-width: 100% !important;
  }
  }
 
  @media screen and (max-width: 1024px) {
    .topnav a {display: none;}
    .topnav a.icon {
      float: left;
      display: table-column;
    }
    .menu-links{
      margin-left: 0px;
      padding-left: 15px;
    }
    /* .topnav{
      width: 100%;
    } */
    body {
      overflow-x: hidden !important;
      max-width: 100% !important;
    }
  }
  
  
  
  /* create two columns */
  .column {
    float: left;
    width: 50%;
    padding: 20px 15px ;
    display: block;
  }
  .column h1{
    font-size: 28px;
    padding: 0%;
  }
  .column h3{
    padding: 0;
  }
  
  .row{
    width:60%;
    background-color: white;
    text-align: center;
    margin-left: 20%;
    margin-top: 10%;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width:768px) {
    
    .column {
      width: 100%;
      font-size: large;
    }
    .column li{
      font-size: 28px;
    }
    
    .column p{
      font-size: 28px;
    }
    .row{
      width: 90%;
      padding-top: 20px;
      margin-top: 500px;
      border-color: #90b8ac ;
      border-width: 4px;
      border-radius: 20px;
      text-shadow: 2px 2px 5px gray;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    
  }
  
  @media screen and (max-width:1024px) {
    body{
      margin: 0;
    }
    .column {
      width: 100%;
      font-size: large;
    }
    .column li{
      font-size: 24px;
    }
    
    .column p{
      font-size: 24px;
    }
    .row{
      width: 90%;
      flex-direction:column;
      margin: auto;
      border-color: #90b8ac ;
      border-width: 4px;
      border-radius: 20px;
      text-shadow: 2px 2px 5px gray;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    }
    #title-img{
      width: 90%;
      height: 90%;
    }
    
  }
  
  
  
  
  
  
  
  
  /* about section */
  
  .resume-section{
  display: block;
  }
  #about-me {
    margin:  160px 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    display: -ms-grid;
  }
  
  #address{
    font-size: 18px;
    padding-left: 50px;
    color: gray;
  }

  /* education styles */
  .edu-content{
    display: block;
  }
  .edu-col{
    display: inline-block;
  }
  #education img{
    width: 90px;
    height: 80px;
  }
  #education td{
    padding: 10px;
  }
  #education p{
    font-size: 18px;
  }
  .education-header{
    font-size: 24px;
    font-weight: 900;
  }
  .education-desc{
    color: gray;
  }
  
  .skills-icon{
    display: block;
    padding-left: 30px;
  }
  
  .cert-row{
    display: flex;
    flex-wrap: nowrap;
  }
  .certificates {
    margin: 35px;
    border: 1px solid #ccc;
    display: block;
    width: 180px;
    height: 220px;
  }

  
  .zoom {
    width: 600px;
    height: 400px;
  }
  
  .certificates img {
    width: 100%;
    height: auto;
  }
  
  @media screen and (max-width:768px) {
    #about-me {
      margin:  0px 16px; /* Same as the width of the sidenav */
      font-size: 28px; /* Increased text to enable scrolling */
      padding: 250px 10px;
      display: -ms-grid;
    }
    #about.resume-section{
      margin-top: auto;
    }

    .certificates {
      margin: 50px;
      border: 1px solid #ccc;
      display: inline;
      width: 60%;
      height: 80%;
      padding-bottom: 10px;
      margin: 30px 100px;
    }
    .cert-row{
      flex-direction: column;
    }
    
      td{
        display: inline;
        width: 80%;
      }
      .zoom:hover {
        -ms-transform: scale(0); /* IE 9 */
        -webkit-transform: scale(0); /* Safari 3-8 */
        transform: scale(0); 
      }
     
      #address{
        font-size: 24px;
        padding-left: 30px;
        color: gray;
      }
      
  }

  @media screen and (max-width:1024px) {
    #about-me {
      margin:  16px 0px; /* Same as the width of the sidenav */
      font-size: 24px; /* Increased text to enable scrolling */
      padding: 250px 10px;
      display: -ms-grid;
    }

    .certificates {
      margin: 50px;
      border: 1px solid #ccc;
      display: inline;
      width: 60%;
      height: 80%;
      padding-bottom: 10px;
      margin: 30px 100px;
    }
    .cert-row{
      flex-direction: column;
    }
    
      td{
        display: inline;
        width: 80%;
      }
      .zoom:hover {
        -ms-transform: scale(0); /* IE 9 */
        -webkit-transform: scale(0); /* Safari 3-8 */
        transform: scale(0); 
      }
     
      #address{
        font-size: 24px;
        padding-left: 30px;
        color: gray;
      }
      
  }

  .desc {
    padding: 15px;
    text-align: center;
    font-size: 18px;
  }
  .zoom {
    transition: transform .2s;
  }
  
  .zoom:hover {
    -ms-transform: scale(2.5); /* IE 9 */
    -webkit-transform: scale(2.5); /* Safari 3-8 */
    transform: scale(2.5); 
  }
  
  footer{
    background-color: #90b8ac;
    height: 400px;
  }
  .subscribe-button{
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    background-color: #90b8ac;
  }
  .subscribe-input{
    border-radius: 5px;
    padding: 5px;
  }
  
  .footer-content{
    padding: 90px;
    padding-bottom: 0;
    float: left;
    margin-right: 50px;
  }
  .footer-content h3{
    color: white;
    font-size: 24px;
  }

 .social-media{
     width: 50px;
     height: 50px;
 }
 .copyright{
     text-align: center;
     color: grey;
     margin-left: 400px;
 }

 .pages{
     display: block;
     color: white;
     font-size: 18;
 }

 /* media query for footer */
 @media screen and (max-width: 768px) {
  .footer-content{
    padding-top: 10px;
    margin: 0;
    display: block;
  }
  .footer-header{
    font-size: 102px;
  }
  .copyright{
    text-align: center;
    color: grey;
}
.social-media{
  width: 40px;
  height: 40px;
}

footer{
  background-color: #90b8ac;
  height: 680px;
}
#address{
  margin:0;
  font-size: 20px;
}

 }
 
 
 /* responsive navigation*/
 
 .sidenav {
  height: 50%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 60px;
  color: #818181;
  display: block;
  transition: 0.3s;
  margin: 10px 10px;
  margin-top: 40px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-width: 768px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {
    font-size: 18px;
    margin: 10px 10px;}
  .menu-links{text-align: center;
  font-size: 32px;
  }
  .sidenav a{
    font-size: 34px;
    display: block;
  }
}
@media screen and (max-width: 375px) {
  .row{
    flex-direction: column;
  }
  
}